#### Database ORM (Object-Relational-Mapper)
Object is class object, Relational is database (mostly relational database) and mapper is connection between the prior objects.
http://www.rmunn.com/sqlalchemy-tutorial/tutorial.html

#### Three important components for ORM creation are:
* Table in database.
* Mapper to map python class to table on database.
* Class object how the database records to a normal object.
#### SQLAlchemy declarative allows to !!create table, mapper and object in a single class!!

#### creation of table in sql database.

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [3]:
engine = create_engine("sqlite:///example4.db")  #Change to a newdatabase it will create a newdatabase.
base = declarative_base() #factory function to create model. holds meta(schema) infromation of tables.

In [4]:
class Person(base): 
    __tablename__ = 'person'
    name = Column(String(50), nullable=False)
    id = Column(Integer, primary_key=True)

In [5]:
base.metadata.create_all(engine)  # tables are created on database.

### Insert data into a sql table

In [6]:
base.metadata.bind = engine # database engine is connnected to base object.

In [7]:
#all transactions are stroed to a staging area and not persisted untill commit is called.
from sqlalchemy.orm import sessionmaker
dbsession = sessionmaker(bind=engine) # configurable session factory binded to database engine

In [8]:
session = dbsession() #session instance
new_person = Person(name="venkat")
session.add(new_person)  #create a journal file(a stagging file before persist to physical storage device.)
session.commit()
session.close() #connection is closed.
engine.dispose() #destroys all the connections.

#### Retrive data from sql table

In [9]:
from sqlalchemy import create_engine
from sqlalchemy import Column, String, Integer #Generics
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [10]:
base = declarative_base()
engine = create_engine("sqlite:///example4.db")

In [11]:
class Person(base):
    __tablename__ = "person"
    name = Column(String(50), nullable=False)
    id = Column(Integer, primary_key=True)

In [12]:
base.metadata.bind = engine
dbsession = sessionmaker(bind=engine)

In [13]:
session = dbsession()

In [14]:
session.query(Person).first()

In [15]:
result_object = session.query(Person).first()

In [16]:
result_object.name, result_object.id

('venkat', 1)

#### Delete data and table for database

In [18]:
from sqlalchemy import create_engine
from sqlalchemy import String, Integer, Column
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [19]:
engine = create_engine("sqlite:///example4.db")
base = declarative_base()
class Person(base):
    __tablename__ = "person"
    name = Column(String(50), nullable=False)
    id = Column(Integer, primary_key=True)
base.metadata.bind = engine
dbsession = sessionmaker(bind=engine)
session = dbsession()

In [20]:
[label for label in dir(session.query(Person)) if not label.startswith('_')] #all methods that can be operated on db object.

['add_column',
 'add_columns',
 'add_entity',
 'all',
 'as_scalar',
 'autoflush',
 'column_descriptions',
 'correlate',
 'count',
 'cte',
 'delete',
 'dispatch',
 'distinct',
 'enable_assertions',
 'enable_eagerloads',
 'except_',
 'except_all',
 'execution_options',
 'exists',
 'filter',
 'filter_by',
 'first',
 'from_self',
 'from_statement',
 'get',
 'group_by',
 'having',
 'instances',
 'intersect',
 'intersect_all',
 'join',
 'label',
 'limit',
 'logger',
 'merge_result',
 'offset',
 'one',
 'one_or_none',
 'options',
 'order_by',
 'outerjoin',
 'params',
 'populate_existing',
 'prefix_with',
 'reset_joinpoint',
 'scalar',
 'select_entity_from',
 'select_from',
 'selectable',
 'session',
 'slice',
 'statement',
 'subquery',
 'suffix_with',
 'union',
 'union_all',
 'update',
 'value',
 'values',
 'whereclause',
 'with_entities',
 'with_for_update',
 'with_hint',
 'with_labels',
 'with_lockmode',
 'with_parent',
 'with_polymorphic',
 'with_session',
 'with_statement_hint',
 'with_transformation',
 'yield_per']

In [21]:
for name in ("Parvathi", "Siva", "Ganapathi", "Karthikaya"):
    new_person = Person(name=name)
    session.add(new_person)
session.commit()

In [22]:
for x in session.query(Person).all():
    print(x.name, x.id)

venkat 1
Parvathi 2
Siva 3
Ganapathi 4
Karthikaya 5

In [23]:
session.query(Person).delete() # Truncates the table
session.commit()

In [24]:
for x in session.query(Person).all():
    print(x.name, x.id)

In [25]:
engine.table_names()

['person']

In [26]:
Person.__table__.drop()  #drop a table on database.

In [27]:
engine.table_names()

[]

In [41]:
session.flush() #clear all residual objects.
session.close() #connection is closed.
engine.dispose() #destroys all the connections.

In [1]:
import os  #kill process usng resmon and then run if not deleted in windows.
os.remove("example4.db")