In [17]:
import sqlite3

In [18]:
conn = sqlite3.connect('example.db')

In [19]:
cursor = conn.cursor()

In [88]:
cursor.execute('''
CREATE TABLE student 
(
roll int,
name text,
course text)
''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: database is locked

In [50]:
records = [('1', 'Hanuman', 'STAT515'),
             ('2', 'Ram', 'OR531'),
             ('3', 'Ravi', 'SYST542'),
            ]
cursor.executemany('INSERT INTO student VALUES (?,?,?)', records)

In [37]:
conn.commit()
conn.close()

In [32]:
cursor.execute('''select * from student''')

In [31]:
cursor.fetchone()

(2, 'Ram', 'OR531')
(3, 'Ravi', 'SYST542')
(1, 'Hanuman', 'STAT515')
(2, 'Ram', 'OR531')
(3, 'Ravi', 'SYST542')